<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>AI Ideas</title>
<style>
body {
  font-family: Verdana;
}
</style>
<script>
async function submitClicked(id, status, need) {
	const div = document.getElementById("idea" + id);
	const name = div.dataset.name;
	const city = div.dataset.city;
	const state = div.dataset.state;
	const description = div.dataset.description;
	div.innerHTML = "<div>Sending: " + name + "...</div>";
	try {
		const response =
				await fetch(
						"/submit" +
						"?name=" + encodeURIComponent(name) +
						"&status=" + encodeURIComponent(status) +
						"&city=" + encodeURIComponent(city) +
						"&state=" + encodeURIComponent(state) +
						"&description=" + encodeURIComponent(description) +
            "&need=" + need +
						"&origin_query=" + encodeURIComponent("<%= it.query %>"));
		const submissionId = await response.text();
		div.innerHTML = "<div>" + status + ": <a href=\"/submission?submission_id=" + submissionId + "\">" + name + "</a></div>";
	} catch (e) {
		console.log(e);
		div.innerHTML = "<div>Error: " + name + "</div>" + e;
	}
}
</script>
<style>
.idea {
	margin-bottom: 8px;
}
</style>
</head>
<body>
<div>
  <a href="/askGpt.html">Ask</a> |
  <a href="/submit.html">Submit</a> |
  <a href="/waiting.html">Waiting</a>
</div>

<form method="POST" action="/eventsFromGpt.html">
	<div style="display: flex; align-items: center;">
		<div style="flex-shrink: 0">Query: </div>
		<div style="flex-grow: 1; display: flex;">
			<input style="flex-grow: 1; margin-left: 0.5em" name="query" type="text" value="<%= it.query %>"/>
		</div>
	</div>
	<div style="display: flex;  align-items: center;">
		<div style="flex-shrink: 0">Seed location: </div>
		<div style="flex-grow: 1; display: flex;">
			<input style="width: 100%; margin-left: 0.5em" name="seed_state" type="text" value="<%= it.seedState %>"/>
		</div>
	</div>
	<div><input type="submit"/></div>
</form>

<form method="POST" action="/eventsFromGpt.html">
<input type="hidden" name="query" type="text" value="<%= it.query %>"/>
<input type="hidden" name="seed_state" type="text" value="<%= it.seedState %>"/>
<input type="hidden" id="conversation" name="conversation" value=""/>
<div><input type="submit" value="More"/></div>
</form>

<script type="text/javascript">
document.getElementById("conversation").value = JSON.stringify(<%~ it.conversation %>);
</script>

<% it.ideas.forEach(function(idea, i){ %>
	<div
			class="idea"
			id="idea<%= i %>"
			data-name="<%= idea.name %>"
			data-city="<%= idea.city %>"
			data-state="<%= idea.state %>"
			data-description="<%= idea.description %>">
		<div style="display: flex">
			<div style="flex-grow: 1">
				<b><%= idea.normalizedName %></b> in <%= idea.city %>, <%= idea.state %>:
			</div>
			<div style="flex-shrink: 0">
        <button onclick="submitClicked(<%= i %>, 'approved', 1)">NEED</button>
        <button onclick="submitClicked(<%= i %>, 'approved', 0)">Approve</button>
        <button onclick="submitClicked(<%= i %>, 'rejected', 0)">Reject</button>
			</div>
		</div>
		<div><%= idea.description %></div>
		<div><%= idea.notes %></div>
	</div>
<% }) %>
</body>
</html>
