<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Submission</title>
<style type="text/css">
.investigation {
	margin: 1em 0;
}
.analysis {
	margin: 1em;
}
</style>
</head>
<body>
<div>
  <a href="/askGpt.html">Ask</a> |
  <a href="/submit.html">Submit</a> |
  <a href="/waiting.html">Waiting</a>
</div>


<% if (it.event) { %>
	<div>Event:</div>
	<div><%= it.event.name %> in <%= it.event.city %>, <%= it.event.state %> (<%= it.event.status %>)</div>
<% } else { %>
  <div>(No event)</div>
<% } %>

<% if (it.submission) { %>
  <div>Submission:</div>
  <div><%= it.submission.name %> in <%= it.submission.city %>, <%= it.submission.state %> (<%= it.submission.status %>)</div>
  <div>month: <%= it.submission.investigation && it.submission.investigation.month %></div>
  <div>num_errors: <%= it.submission.investigation && it.submission.investigation.num_errors %></div>
  <div>num_promising: <%= it.submission.investigation && it.submission.investigation.num_promising %></div>

  <% it.submission.investigations.forEach(function(investigation){ %>
  	<div class="investigation">
  	<details>
  		<summary><%= investigation.model %>:</summary>
  		<div>

        <details>
          <summary>Show broad steps</summary>
          <div>
            <ul>
              <% investigation.steps && investigation.steps.forEach(function(step) { %>
                <li>
                  <% if (Array.isArray(step)) { %>
                    <%= JSON.stringify(step) %>
                  <% } else if (typeof step == 'object' && step[""] !== undefined && step[""] !== undefined) { %>
                    <%= step[""] %>
                    <% Object.entries(step).forEach(([key, member]) => { %>
                      <% if (key) { %>
                        <% if (key == 'pageTextUrl') { %>
                          <a href="/pagetext?url=<%= member %>">(page text)</a>
                        <% } else if (key == 'details') { %>
                          <details>
                            <summary>Show full text</summary>
                            <div><%= member %></div>
                          </details>
                        <% } else { %>
                          <b>Unknown key</b> <%= key %>: <%= member %>
                        <% } %>
                      <% } %>
                    <% }) %>
                  <% } else { %>
                    <%= step %>
                  <% } %>
                </li>
              <% }) %>
            </ul>
          </div>
        </details>

  			<% investigation.pageAnalyses.forEach(function(analysis){ %>
  				<div class="analysis">
  					<div><%= analysis.status %>: <a href="<%= analysis.url %>" target="_blank"><%= analysis.url %></a></div>
  					<div>
  						<b>name:</b> <%= analysis && analysis.analysis && analysis.analysis.name %>
  					</div>
  					<div>
  						<b>yearly:</b> <%= analysis && analysis.analysis && analysis.analysis.yearly %>,
  						<b>analysis.month:</b> <%= analysis.month %>,
  						<b>analysis.analysis.month:</b> <%= analysis && analysis.analysis && analysis.analysis.month %>
  					</div>
  					<div>
  						<b>city:</b> <%= analysis && analysis.analysis && analysis.analysis.city %>,
  						<b>state:</b> <%= analysis && analysis.analysis && analysis.analysis.state %>
  					</div>
  					<div>
  						<b>firstDate:</b> <%= analysis && analysis.analysis && analysis.analysis.firstDate %>,
  						<b>lastDate:</b> <%= analysis && analysis.analysis && analysis.analysis.lastDate %>,
  						<b>nextDate:</b> <%= analysis && analysis.analysis && analysis.analysis.nextDate %>
  					</div>
  					<div><b>summary:</b> <%= analysis && analysis.analysis && analysis.analysis.summary %></div>
  					<div>
  						<b>description:</b> <%= analysis && analysis.analysis && analysis.analysis.description %>
  					</div>
  					<div>
  						<b>matches city:</b> <%= analysis && analysis.analysis && analysis.analysis.matches && analysis.analysis.matches.city %>,
  						<b>state:</b> <%= analysis && analysis.analysis && analysis.analysis.matches && analysis.analysis.matches.state %>,
  						<b>anywhere:</b> <%= analysis && analysis.analysis && analysis.analysis.matches && analysis.analysis.matches.anywhere %>
  					</div>

  					<details>
  					  <summary>Show steps</summary>
  					  <div>
  							<ul>
  								<% analysis.steps.forEach(function(step) { %>
  									<li>
                      <% if (Array.isArray(step)) { %>
                        <%= JSON.stringify(step) %>
                      <% } else if (typeof step == 'object' && step[""] !== undefined) { %>
  											<%= step[""] %>
  											<% Object.entries(step).forEach(([key, member]) => { %>
  												<% if (key) { %>
  													<% if (key == 'pageTextUrl') { %>
  														<a href="/pagetext?url=<%= member %>">(page text)</a>
  													<% } else if (key == 'details') { %>
  														<details>
  														  <summary>Show full text</summary>
  														  <div><%= member %></div>
  														</details>
  													<% } else { %>
  														<b>Unknown key</b> <%= key %>: <%= member %>
  													<% } %>
  												<% } %>
  											<% }) %>
  										<% } else { %>
  											<%= step %>
  										<% } %>
  									</li>
  								<% }) %>
  							</ul>
  						</div>
  					</details>

  					<details>
  					  <summary>Show page text</summary>
  					  <div>
  							<div><%= analysis.pageTextError %></div>
  							<div><%= analysis.pageText %></div>
  						</div>
  					</details>
  				</div>
  			<% }) %>
  		</div>
  		
  	</div>
  <% }) %>
<% } else { %>
  <div>(No submission)</div>
<% } %>

<% if (it.lead) { %>
  <div>
    Lead (<%= it.lead.status %>):
    <a href="<%= it.lead.url %>" target="_blank"><%= it.lead.url %></a>
  </div>
  <div>Future submission: <%= it.lead.future_submission_status %>, need: <%= it.lead.future_submission_need %></div>
  <% if (it.lead.steps) { %>
    <% it.lead.steps && it.lead.steps.forEach(function(step) { %>
      <div><%= JSON.stringify(step) %></div>
    <% }) %>
  <% } %>
  <% if (it.lead.pageAnalyses) { %>
    <% it.lead.pageAnalyses.forEach(function(analysis){ %>
      <div>Analysis: <%= JSON.stringify(analysis) %></div>
    <% }) %>
  <% } %>
<% } else { %>
  <div>(No lead)</div>
<% } %>

</body>
</html>
