<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Waiting</title>
<script>
async function publishConfirmedSubmission(index, bestUrl) {
  const div = document.getElementById("submission" + index);
  const name = div.dataset.name;
  const eventId = div.dataset.eventId;
  div.innerHTML = "<div>Publishing: " + name + "</div>...";
  try {
    const response =
        await fetch("/publish?event_id=" + encodeURIComponent(eventId) + "&best_url=" + bestUrl);
    await response.text();
    div.innerHTML = "<div>Published: " + name + "</div>" + eventId;
  } catch (e) {
    console.log(e);
    div.innerHTML = "<div>Error: " + name + "</div>" + e;
  }
}
async function rejectConfirmedSubmission(index) {
  const div = document.getElementById("submission" + index);
  const name = div.dataset.name;
  const eventId = div.dataset.eventId;
  div.innerHTML = "<div>Rejecting: " + name + "</div>...";
  try {
    const response =
        await fetch("/rejectEvent?event_id=" + encodeURIComponent(eventId));
    await response.text();
    div.innerHTML = "<div>Rejected: " + name + "</div>" + eventId;
  } catch (e) {
    console.log(e);
    div.innerHTML = "<div>Error: " + name + "</div>" + e;
  }
}

async function approveSubmissionClicked(index, need) {
  const div = document.getElementById("submission" + index);
  const name = div.dataset.name;
  const submissionId = div.dataset.submissionId;
  div.innerHTML = "<div>Approving: " + name + "</div>...";
  try {
    const response =
        await fetch("/approve?submission_id=" + encodeURIComponent(submissionId) + "&need=" + need);
    await response.text();
    div.innerHTML = "<div>Approved: " + name + "</div>" + submissionId;
  } catch (e) {
    console.log(e);
    div.innerHTML = "<div>Error: " + name + "</div>" + e;
  }
}
async function rejectSubmissionClicked(index) {
  const div = document.getElementById("submission" + index);
  const name = div.dataset.name;
  const submissionId = div.dataset.submissionId;
  div.innerHTML = "<div>Rejecting: " + name + "</div>...";
  try {
    const response =
        await fetch("/reject?submission_id=" + encodeURIComponent(submissionId));
    await response.text();
    div.innerHTML = "<div>Rejected: " + name + "</div>" + submissionId;
  } catch (e) {
    console.log(e);
    div.innerHTML = "<div>Error: " + name + "</div>" + e;
  }
}
async function burySubmissionClicked(index) {
  const div = document.getElementById("submission" + index);
  const name = div.dataset.name;
  const submissionId = div.dataset.submissionId;
  div.innerHTML = "<div>Burying: " + name + "</div>...";
  try {
    const response =
        await fetch("/bury?submission_id=" + encodeURIComponent(submissionId));
    await response.text();
    div.innerHTML = "<div>Buried: " + name + "</div>" + submissionId;
  } catch (e) {
    console.log(e);
    div.innerHTML = "<div>Error: " + name + "</div>" + e;
  }
}
</script>
<style>
.idea {
  margin: 0.7em 0;
}
body {
  font-family: Verdana;
}
</style>
</head>
<body>
<div>
  <a href="/askGpt.html">Ask</a> |
  <a href="/waiting.html">Waiting</a>
</div>

<h3>
Confirmed submissions:
</h3>

<% it.confirmedSubmissions.forEach(function(event){ %>
  <div
      class="idea"
      id="submission<%= event.submission_id %>"
      data-name="<%= event.name %>"
      data-event-id="<%= event.id %>">
    <div style="display: flex; align-items: center;">
      <div style="flex-grow: 1">
        <b><%= event.name %></b> in <%= event.city %>, <%= event.state %>:
      </div>
      <div style="flex-shrink: 0; margin-right: 0.5em">
        <a href="/submission?submission_id=<%= event.submission_id %>">Submission</a>
      </div>
      <div style="flex-shrink: 0">
        <button onclick="rejectConfirmedSubmission('<%= event.submission_id %>')">Reject</button>
      </div>
    </div>
    <div><%= event.notes %></div>
    <% event.confirmations.forEach(function(confirmation, confirmationI){ %>
      <div style="display: flex; align-items: center;">
        <div style="flex-grow: 1">
          <a href="<%~ confirmation.url %>" target="_blank"><%~ confirmation.url %></a>:
        </div>
        <div style="flex-shrink: 0">
          <button onclick="publishConfirmedSubmission('<%= event.submission_id %>', '<%~ confirmation.url %>')">Publish</button>
        </div>
      </div>
      <div>
        <%= confirmation.event_short_summary %>
      </div>
    <% }) %>
  </div>
<% }) %>

<h3>
Unconsidered submissions:
</h3>

<% it.unconsideredSubmissions.forEach(function(submission, i){ %>
  <div
      class="idea"
      id="submission<%= submission.submission_id %>"
      data-name="<%= submission.name %>"
      data-submission-id="<%= submission.submission_id %>">

    <div style="display: flex">
      <div style="flex-grow: 1">
        <b><%= submission.name %></b> in <%= submission.city %>, <%= submission.state %>:
      </div>
      <div style="flex-shrink: 0">
        <button onclick="approveSubmissionClicked('<%= submission.submission_id %>', 1)">NEED</button>
        <button onclick="approveSubmissionClicked('<%= submission.submission_id %>', 0)">Approve</button>
        <button onclick="rejectSubmissionClicked('<%= submission.submission_id %>')">Reject</button>
      </div>
    </div>
    <div><%= submission.description %></div>
    <div><%= submission.notes %></div>
  </div>
<% }) %>

<h3>
Failed NEED-level submissions:
</h3>

<% it.failedNeedSubmissions.forEach(function(submission, i){ %>
  <div
      class="idea"
      id="submission<%= submission.submission_id %>"
      data-name="<%= submission.name %>"
      data-submission-id="<%= submission.submission_id %>">
    <div>
      <%= submission.status %>: <b><%= submission.name %></b> in <%= submission.city %>, <%= submission.state %>:
      <button onclick="burySubmissionClicked('<%= submission.submission_id %>')">Bury</button>
      <button onclick="approveSubmissionClicked('<%= submission.submission_id %>', 1)">Re-NEED</button>
      <button onclick="approveSubmissionClicked('<%= submission.submission_id %>', 0)">Re-approve</button>
      <a href="/submission?submission_id=<%= submission.submission_id %>">Submission</a>
    </div>
    <div><%= submission.description %></div>
    <div><%= submission.notes %></div>
  </div>
<% }) %>

</body>
</html>
