<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Waiting</title>
<style>
.idea {
  margin: 0.7em 0;
}
body {
  font-family: Verdana;
}
</style>
<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
<script>
async function markDuplicateSubmission(submissionId, mainSubmissionId) {
  const div = document.getElementById("submission" + submissionId);
  const name = div.dataset.name;
  div.innerHTML = "<div>Marking duplicate: " + name + "</div>...";
  try {
    const response =
        await fetch("/markDuplicate?duplicate_submission_id=" + encodeURIComponent(submissionId) + "&main_submission_id=" + encodeURIComponent(mainSubmissionId));
    const responseText = await response.text();
    if (response.status != "200") {
      throw responseText;
    }
    div.innerHTML = "<div>Marked duplicate: " + name + "</div>" + responseText;
  } catch (e) {
    console.log(e);
    div.innerHTML = "<div>Error: " + name + "</div>" + e;
  }
}
async function publishConfirmedSubmission(index, bestName, bestUrl) {
  const div = document.getElementById("submission" + index);
  const submissionId = div.dataset.submissionId;
  div.innerHTML = "<div>Publishing: " + bestName + "</div>...";
  try {
    const response =
        await fetch("/publish?submission_id=" + encodeURIComponent(submissionId) + "&best_name=" + bestName + "&best_url=" + bestUrl);
    const responseText = await response.text();
    if (response.status != "200") {
      throw responseText;
    }
    div.innerHTML = "<div>Published: " + bestName + "</div>" + responseText;
  } catch (e) {
    console.log(e);
    div.innerHTML = "<div>Error: " + bestName + "</div>" + e;
  }
}
async function buryConfirmedSubmission(index) {
  const div = document.getElementById("submission" + index);
  const name = div.dataset.name;
  const submissionId = div.dataset.submissionId;
  div.innerHTML = "<div>Burying: " + name + "</div>...";
  try {
    const response =
        await fetch("/bury?submission_id=" + encodeURIComponent(submissionId));
    const responseText = await response.text();
    if (response.status != "200") {
      throw responseText;
    }
    div.innerHTML = "<div>Buried: " + name + "</div>" + responseText;
  } catch (e) {
    console.log(e);
    div.innerHTML = "<div>Error: " + name + "</div>" + e;
  }
}
async function restartWithUrl(button, submissionId) {
  const div = document.getElementById("submission" + submissionId);
  const name = div.dataset.name;
  try {
    console.log("this", button);
    console.log("this", button.previousElementSibling);
    console.log("this", button.previousElementSibling.nodeName);
    console.log("this", button.previousElementSibling.value);
    const input = button.previousElementSibling;
    if (input.nodeName.toLowerCase() != 'input') {
      throw "Cant find input";
    }
    const url = input.value;
    if (!url.startsWith("http")) {
      throw "Bad url";
    }
    div.innerHTML = "<div>Restarting " + name + " with better url</div>...";
    const response =
        await fetch("/restartWithUrl?submission_id=" + encodeURIComponent(submissionId) + "&url=" + encodeURIComponent(url));
    const responseText = await response.text();
    if (response.status != "200") {
      throw responseText;
    }
    div.innerHTML = "<div>Restarted " + name + " with url " + url + "</div>" + responseText;
  } catch (e) {
    console.log(e);
    div.innerHTML = "<div>Error: " + name + "</div>" + e;
  }
}
async function broadenSubmissionClicked(index) {
  const div = document.getElementById("submission" + index);
  const name = div.dataset.name;
  const submissionId = div.dataset.submissionId;
  div.innerHTML = "<div>Broadening: " + name + "</div>...";
  try {
    const response =
        await fetch("/broaden?submission_id=" + encodeURIComponent(submissionId));
    const responseText = await response.text();
    if (response.status != "200") {
      throw responseText;
    }
    div.innerHTML = "<div>Broadened: " + name + "</div>" + responseText;
  } catch (e) {
    console.log(e);
    div.innerHTML = "<div>Error: " + name + "</div>" + e;
  }
}

async function approveSubmissionClicked(index, need) {
  const div = document.getElementById("submission" + index);
  const name = div.dataset.name;
  const submissionId = div.dataset.submissionId;
  div.innerHTML = "<div>Approving: " + name + "</div>...";
  try {
    const response =
        await fetch("/approve?submission_id=" + encodeURIComponent(submissionId) + "&need=" + need);
    const responseText = await response.text();
    if (response.status != "200") {
      throw responseText;
    }
    div.innerHTML = "<div>Approved: " + name + "</div>" + responseText;
  } catch (e) {
    console.log(e);
    div.innerHTML = "<div>Error: " + name + "</div>" + e;
  }
}
async function rejectSubmissionClicked(index) {
  const div = document.getElementById("submission" + index);
  const name = div.dataset.name;
  const submissionId = div.dataset.submissionId;
  div.innerHTML = "<div>Rejecting: " + name + "</div>...";
  try {
    const response =
        await fetch("/reject?submission_id=" + encodeURIComponent(submissionId));
    const responseText = await response.text();
    if (response.status != "200") {
      throw responseText;
    }
    div.innerHTML = "<div>Rejected: " + name + "</div>" + responseText;
  } catch (e) {
    console.log(e);
    div.innerHTML = "<div>Error: " + name + "</div>" + e;
  }
}
async function burySubmissionClicked(index) {
  const div = document.getElementById("submission" + index);
  const name = div.dataset.name;
  const submissionId = div.dataset.submissionId;
  div.innerHTML = "<div>Burying: " + name + "</div>...";
  try {
    const response =
        await fetch("/bury?submission_id=" + encodeURIComponent(submissionId));
    const responseText = await response.text();
    if (response.status != "200") {
      throw responseText;
    }
    div.innerHTML = "<div>Buried: " + name + "</div>" + responseText;
  } catch (e) {
    console.log(e);
    div.innerHTML = "<div>Error: " + name + "</div>" + e;
  }
}
</script>
</head>
<body>

<template x-component="steppieces"><span>
  <template x-for="piece in step"><span>
    <template x-if="typeof piece == 'object'">
      <span x-text="JSON.stringify(piece)"></span>
    </template>
    <template x-if="typeof piece != 'object'">
      <span x-text="piece"></span>
    </template>
  </span></template>
</span></template>

<template x-component="steps">
  <div x-data="{ ...$el.parentElement.data() }">
    <template x-if="content.length">
      <ul>
        <template x-for="step in content">
          <li>
            <template x-if="Array.isArray(step)"><div>
              <x-steppieces content="step"></x-steppieces>
            </div></template>
            <template x-if="typeof step == 'object' && !Array.isArray(step)"><div>
              <template x-if="step[''] === undefined">
                <span x-text="JSON.stringify(step)"></span>
              </template>
              <template x-if="step[''] !== undefined"><span>
                <span x-text="step['']"></span>
                <span>(todo: deets)</span>
              </span></template>
            </div></template>
            <template x-if="typeof step != 'object' && !Array.isArray(step)">
              <div x-text="step"></div>
            </template>
          </li>
        </template>
      </ul>
    </template>
  </div>
</template>

<x-steps json-content='["Step 1", { "": "Step 2 details", "pageTextUrl": "http://example.com", "details": "Some details" }, ["Step 3a", "Step 3b"] ]'></x-steps>

<div>
  <a href="/askGpt.html">Ask</a> |
  <a href="/submit.html">Submit</a> |
  <a href="/waiting.html">Waiting</a>
</div>

<p>
<%= it.numCreatedPageLeads %> page leads waiting, <%= it.numCreatedNameLeads %> name leads waiting.
</p>
<p>
<%= it.numApprovedSubmissions %> approved submissions waiting for coordinator, <%= it.numCreatedInvestigations %> in progress.
</p>

<h3>
Confirmed submissions:
</h3>

<% it.confirmedSubmissions.forEach(function(submission){ %>
  <div
      class="idea"
      id="submission<%= submission.submission_id %>"
      data-name="<%= submission.name %>"
      data-submission-id="<%= submission.submission_id %>">
    <div style="display: flex; align-items: center;">
      <div style="flex-grow: 1">
        <b><%= submission.name %></b> in <%= submission.city || "(none)" %>, <%= submission.state || "(none)" %>:
      </div>
      <div style="flex-shrink: 0; margin-right: 0.5em">
        <a href="/submission?submission_id=<%= submission.submission_id %>">Submission</a>
      </div>
      <div style="flex-shrink: 0">
        <button onclick="broadenSubmissionClicked('<%= submission.submission_id %>')">Broaden</button>
        <button onclick="buryConfirmedSubmission('<%= submission.submission_id %>')">Reject</button>
      </div>
    </div>
    <div><%= submission.notes %></div>
    <% submission.confirmations.forEach(function(analysis, analysisI){ %>
      <div style="display: flex; align-items: center;">
        <div style="flex-grow: 1">
          <a href="<%~ analysis.url %>" target="_blank"><%~ analysis.url %></a>:
        </div>
        <div style="flex-shrink: 0">
          <button onclick="publishConfirmedSubmission('<%= submission.submission_id %>', '<%= analysis.analysis && analysis.analysis.name && analysis.analysis.name.replaceAll("'", "\\'") %>', '<%~ analysis.url %>')">Publish</button>
        </div>
      </div>
      <div><%= analysis.analysis.name %>: <%= analysis.analysis.summary %></div>
      <div><%= analysis.analysis.unusual %></div>
      <div>
        <% if (analysis.analysis.firstDate) { %>
          <b>First:</b> <%= analysis.analysis.firstDate %>
        <% } %>
        <% if (analysis.analysis.lastDate) { %>
          <b>Last:</b> <%= analysis.analysis.lastDate %>
        <% } %>
        <% if (analysis.analysis.nextDate) { %>
          <b>Next:</b> <%= analysis.analysis.nextDate %>
        <% } %>
        <% if (analysis.analysis.canceled) { %>
          <b>Canceled!</b>
        <% } %>
      </div>
    <% }) %>
    <% if (submission.similars.length) { %>
      <p>
        Similars:
        <ul>
          <% submission.similars.forEach(function(similar){ %>
            <li>
              <%= similar.status %>:
              <a href="/submission?submission_id=<%= similar.submission_id %>"><%= similar.name %></a>
              in <%= similar.city || "(none)" %>, <%= similar.state || "(none)" %> 
              <button onclick="markDuplicateSubmission('<%= submission.submission_id %>', '<%= similar.submission_id %>')">Is Better</button>
            </li>
          <% }) %>
        </ul>
      </p>
    <% } %>
    <input type="text" name="url" />
    <button onclick="restartWithUrl(this, '<%= submission.submission_id %>')">Use + Restart</button>
  </div>
<% }) %>

<h3>
Unconsidered submissions:
</h3>

<% it.unconsideredSubmissions.forEach(function(submission, i){ %>
  <div
      class="idea"
      id="submission<%= submission.submission_id %>"
      data-name="<%= submission.name %>"
      data-submission-id="<%= submission.submission_id %>">

    <div style="display: flex">
      <div style="flex-grow: 1">
        <b><%= submission.name %></b> in <%= submission.city || "(none)" %>, <%= submission.state || "(none)" %>:
      </div>
      <div style="flex-shrink: 0">
        <button onclick="approveSubmissionClicked('<%= submission.submission_id %>', 2)">NEED</button>
        <button onclick="approveSubmissionClicked('<%= submission.submission_id %>', 1)">Want</button>
        <button onclick="approveSubmissionClicked('<%= submission.submission_id %>', 0)">Approve</button>
        <button onclick="rejectSubmissionClicked('<%= submission.submission_id %>')">Reject</button>
      </div>
    </div>
    <div>
        Suggested url:
        <a href="<%~ submission.url %>"><%~ submission.url %></a>
      </div>
    <div><%= submission.description %></div>
    <% if (submission.similars.length) { %>
      <p>
        Similars:
        <ul>
          <% submission.similars.forEach(function(similar){ %>
            <li>
              <%= similar.status %>:
              <a href="/submission?submission_id=<%= similar.submission_id %>"><%= similar.name %></a>
              in <%= similar.city || "(none)" %>, <%= similar.state || "(none)" %> 
              <button onclick="markDuplicateSubmission('<%= submission.submission_id %>', '<%= similar.submission_id %>')">Is Better</button>
            </li>
          <% }) %>
        </ul>
      </p>
    <% } %>
  </div>
<% }) %>

<h3>
Failed NEED-level submissions:
</h3>

<% it.failedNeedSubmissions.forEach(function(submission, i){ %>
  <div
      class="idea"
      id="submission<%= submission.submission_id %>"
      data-name="<%= submission.name %>"
      data-submission-id="<%= submission.submission_id %>">
    <div>
      <%= submission.status %>: <b><%= submission.name %></b> in <%= submission.city || "(none)" %>, <%= submission.state || "(none)" %>:
      <button onclick="burySubmissionClicked('<%= submission.submission_id %>')">Bury</button>
      <button onclick="broadenSubmissionClicked('<%= submission.submission_id %>')">Broaden</button>
      <button onclick="approveSubmissionClicked('<%= submission.submission_id %>', 2)">Re-NEED</button>
      <button onclick="approveSubmissionClicked('<%= submission.submission_id %>', 1)">Re-Want</button>
      <button onclick="approveSubmissionClicked('<%= submission.submission_id %>', 0)">Re-approve</button>
      <a href="/submission?submission_id=<%= submission.submission_id %>">Submission</a>
    </div>
    <div><%= submission.description %></div>
    <% if (submission.url) { %>
      <div>
        Suggested url:
        <a href="<%~ submission.url %>"><%~ submission.url %></a>
      </div>
    <% } %>
    <div><%= submission.notes %></div>
  </div>
<% }) %>

<% if (it.failedNeedLeads.length) { %>
  <h3>
  Failed leads:
  </h3>

  <% it.failedNeedLeads.forEach(function(lead, i){ %>
    <div
        class="idea"
        id="lead<%= lead.lead_id %>"
        data-name="<%= lead.name %>"
        data-lead-id="<%= lead.lead_id %>">
      <div>
        <%= lead.status %>: <a href="<%~ lead.url %>"><%~ lead.url %></a>
      </div>
      <div><%= JSON.stringify(lead.steps) %></div>
    </div>
  <% }) %>
<% } %>


<template x-component="dropdown">
  <div x-data="{ ...dropdown(), ...$el.parentElement.data() }">
    <button x-on:click="open">Open</button>
    <div x-show="isOpen()" x-on:click.away="close" x-text="content"></div>
  </div>
</template>

<x-dropdown content="Content for my first dropdown"></x-dropdown>

<div> Random stuff... </div>

<x-dropdown content="Content for my second dropdown"></x-dropdown>

<x-dropdown></x-dropdown>


<script>
    function dropdown() {
        return {
            show: false,
            open() { this.show = true },
            close() { this.show = false },
            isOpen() { return this.show === true },
            content: 'Default content'
        }
    }

    // The pure client-side code
    document.querySelectorAll('[x-component]').forEach(component => {
        const componentName = `x-${component.getAttribute('x-component')}`
        class Component extends HTMLElement {
            connectedCallback() {
                this.append(component.content.cloneNode(true))
            }
 
            data() {
                const attrNames = this.getAttributeNames()
                const data = {}
                attrNames.forEach(attrName => {
                  let attrVal = this.getAttribute(attrName);
                  if (attrName.startsWith('json-')) {
                    attrName = attrName.slice('json-'.length);
                    console.log("Json parsing:", attrVal);
                    attrVal = JSON.parse(attrVal);
                  }
                  data[attrName] = attrVal;
                })
                return data
            }
        }
        customElements.define(componentName, Component)
    })
</script>
</body>
</html>
