<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Waiting</title>
<style>
.idea {
  margin: 0.7em 0;
}
body {
  font-family: Verdana;
}
</style>
<script>
async function publishConfirmedSubmission(index, bestName, bestUrl) {
  const div = document.getElementById("submission" + index);
  const submissionId = div.dataset.submissionId;
  div.innerHTML = "<div>Publishing: " + bestName + "</div>...";
  try {
    const response =
        await fetch("/publish?submission_id=" + encodeURIComponent(submissionId) + "&best_name=" + bestName + "&best_url=" + bestUrl);
    const responseText = await response.text();
    if (response.status != "200") {
      throw responseText;
    }
    div.innerHTML = "<div>Published: " + bestName + "</div>" + responseText;
  } catch (e) {
    console.log(e);
    div.innerHTML = "<div>Error: " + bestName + "</div>" + e;
  }
}
async function buryConfirmedSubmission(index) {
  const div = document.getElementById("submission" + index);
  const name = div.dataset.name;
  const submissionId = div.dataset.submissionId;
  div.innerHTML = "<div>Burying: " + name + "</div>...";
  try {
    const response =
        await fetch("/bury?submission_id=" + encodeURIComponent(submissionId));
    const responseText = await response.text();
    if (response.status != "200") {
      throw responseText;
    }
    div.innerHTML = "<div>Buried: " + name + "</div>" + responseText;
  } catch (e) {
    console.log(e);
    div.innerHTML = "<div>Error: " + name + "</div>" + e;
  }
}

async function approveSubmissionClicked(index, need) {
  const div = document.getElementById("submission" + index);
  const name = div.dataset.name;
  const submissionId = div.dataset.submissionId;
  div.innerHTML = "<div>Approving: " + name + "</div>...";
  try {
    const response =
        await fetch("/approve?submission_id=" + encodeURIComponent(submissionId) + "&need=" + need);
    const responseText = await response.text();
    if (response.status != "200") {
      throw responseText;
    }
    div.innerHTML = "<div>Approved: " + name + "</div>" + responseText;
  } catch (e) {
    console.log(e);
    div.innerHTML = "<div>Error: " + name + "</div>" + e;
  }
}
async function rejectSubmissionClicked(index) {
  const div = document.getElementById("submission" + index);
  const name = div.dataset.name;
  const submissionId = div.dataset.submissionId;
  div.innerHTML = "<div>Rejecting: " + name + "</div>...";
  try {
    const response =
        await fetch("/reject?submission_id=" + encodeURIComponent(submissionId));
    const responseText = await response.text();
    if (response.status != "200") {
      throw responseText;
    }
    div.innerHTML = "<div>Rejected: " + name + "</div>" + responseText;
  } catch (e) {
    console.log(e);
    div.innerHTML = "<div>Error: " + name + "</div>" + e;
  }
}
async function burySubmissionClicked(index) {
  const div = document.getElementById("submission" + index);
  const name = div.dataset.name;
  const submissionId = div.dataset.submissionId;
  div.innerHTML = "<div>Burying: " + name + "</div>...";
  try {
    const response =
        await fetch("/bury?submission_id=" + encodeURIComponent(submissionId));
    const responseText = await response.text();
    if (response.status != "200") {
      throw responseText;
    }
    div.innerHTML = "<div>Buried: " + name + "</div>" + responseText;
  } catch (e) {
    console.log(e);
    div.innerHTML = "<div>Error: " + name + "</div>" + e;
  }
}
</script>
</head>
<body>
<div>
  <a href="/askGpt.html">Ask</a> |
  <a href="/submit.html">Submit</a> |
  <a href="/waiting.html">Waiting</a>
</div>

<p>
<%= it.numApprovedSubmissions %> approved submissions waiting for coordinator, <%= it.numCreatedInvestigations %> in progress.
</p>

<h3>
Confirmed submissions:
</h3>

<% it.confirmedSubmissions.forEach(function(submission){ %>
  <div
      class="idea"
      id="submission<%= submission.submission_id %>"
      data-name="<%= submission.name %>"
      data-submission-id="<%= submission.submission_id %>">
    <div style="display: flex; align-items: center;">
      <div style="flex-grow: 1">
        <b><%= submission.name %></b> in <%= submission.city %>, <%= submission.state %>:
      </div>
      <div style="flex-shrink: 0; margin-right: 0.5em">
        <a href="/submission?submission_id=<%= submission.submission_id %>">Submission</a>
      </div>
      <div style="flex-shrink: 0">
        <button onclick="buryConfirmedSubmission('<%= submission.submission_id %>')">Reject</button>
      </div>
    </div>
    <div><%= submission.notes %></div>
    <% submission.confirmations.forEach(function(analysis, analysisI){ %>
      <div style="display: flex; align-items: center;">
        <div style="flex-grow: 1">
          <a href="<%~ analysis.url %>" target="_blank"><%~ analysis.url %></a>:
        </div>
        <div style="flex-shrink: 0">
          <button onclick="publishConfirmedSubmission('<%= submission.submission_id %>', '<%= analysis.analysis.name %>', '<%~ analysis.url %>')">Publish</button>
        </div>
      </div>
      <div>
        <%= analysis.analysis.name %>: <%= analysis.analysis.summary %>
      </div>
    <% }) %>
    <% if (submission.similars.length) { %>
      <div>
        Similars:
        <ul>
          <% submission.similars.forEach(function(similar){ %>
            <li>
              <b><%= similar.status %></b>:
              <a href="/submission?submission_id=<%= submission.submission_id %>">
                <%= similar.name %>
              </a>
              in <%= similar.city %>, <%= similar.state %> 
              <button onclick="mergeSubmission('<%= submission.submission_id %>', '<%= similar.submission_id %>')">Is Dupe</button>
              <button onclick="mergeSubmission('<%= similar.submission_id %>', '<%= submission.submission_id %>')">Is Better</button>
            </li>
          <% }) %>
        </ul>
      </ul>
    <% } %>
  </div>
<% }) %>

<h3>
Unconsidered submissions:
</h3>

<% it.unconsideredSubmissions.forEach(function(submission, i){ %>
  <div
      class="idea"
      id="submission<%= submission.submission_id %>"
      data-name="<%= submission.name %>"
      data-submission-id="<%= submission.submission_id %>">

    <div style="display: flex">
      <div style="flex-grow: 1">
        <b><%= submission.name %></b> in <%= submission.city %>, <%= submission.state %>:
      </div>
      <div style="flex-shrink: 0">
        <button onclick="approveSubmissionClicked('<%= submission.submission_id %>', 2)">NEED</button>
        <button onclick="approveSubmissionClicked('<%= submission.submission_id %>', 1)">Want</button>
        <button onclick="approveSubmissionClicked('<%= submission.submission_id %>', 0)">Approve</button>
        <button onclick="rejectSubmissionClicked('<%= submission.submission_id %>')">Reject</button>
      </div>
    </div>
    <div>
        Suggested url:
        <a href="<%~ submission.url %>"><%~ submission.url %></a>
      </div>
    <div><%= submission.description %></div>
    <div><%= submission.notes %></div>
  </div>
<% }) %>

<h3>
Failed NEED-level submissions:
</h3>

<% it.failedNeedSubmissions.forEach(function(submission, i){ %>
  <div
      class="idea"
      id="submission<%= submission.submission_id %>"
      data-name="<%= submission.name %>"
      data-submission-id="<%= submission.submission_id %>">
    <div>
      <%= submission.status %>: <b><%= submission.name %></b> in <%= submission.city %>, <%= submission.state %>:
      <button onclick="burySubmissionClicked('<%= submission.submission_id %>')">Bury</button>
      <button onclick="approveSubmissionClicked('<%= submission.submission_id %>', 1)">Re-NEED</button>
      <button onclick="approveSubmissionClicked('<%= submission.submission_id %>', 0)">Re-approve</button>
      <a href="/submission?submission_id=<%= submission.submission_id %>">Submission</a>
    </div>
    <div><%= submission.description %></div>
    <% if (submission.url) { %>
      <div>
        Suggested url:
        <a href="<%~ submission.url %>"><%~ submission.url %></a>
      </div>
    <% } %>
    <div>
    <div><%= submission.notes %></div>
  </div>
<% }) %>

</body>
</html>
